.conteudo-cliente{
    padding: 10px;
    display: flex;
    flex-flow: column wrap;
    width: 90%;
    justify-content: center;
    align-items: center;
    font-family: 'Alata', sans-serif;
}

.conteudo-cliente button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-right: 20px;
}

.conteudo-cliente button img{
    height: 20px;
    margin-right: 10px;
}

.conteudo-cliente > h2,h3,p,div {
    font-family: 'Alata', sans-serif;
}

.conteudo-texto{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 95%;
    margin-right: 20px;
}

.conteudo-texto > div{
    padding: 10px;
    width: 95%;

}

.conteudo-texto h2 {
    font-size: 15pt;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conteudo-texto .numero-telefone{
    font-size: 10pt;
}



